* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$mainBlack: #072028;
$mainWhite: #fff;
$mainBlue: #0092a4;
$mainGrey: #fff1eb;
$secGreen: #04c3db;

body {
    font-family: 'Open Sans', sans-serif;
    background: $mainWhite;
    color: $mainBlack;

}
