* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$mainBlack: #3b3b3b;
$mainWhite: #fff;
$mainGreen: #006859;
$mainGrey: #c5c7c6;
$secondGreen: #bdd9d4;


body {
    font-family: 'Open Sans', sans-serif;
    background: $mainWhite;
    color: $mainGreen;
}
